alabaster 
appdirs==1.4.4
argh==0.26.2
argon2-cffi
astroid 
async-generator
atomicwrites==1.4.0
attrs 
autopep8
Babel
backcall
bcrypt
black==19.10b0
bleach
Bottleneck
brotlipy==0.7.0
certifi==2021.5.30
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
cryptography 
cycler==0.10.0
debugpy
decorator
defusedxml
diff-match-patch
docutils
entrypoints==0.3
flake8
Flask
fonttools==4.25.0
future
idna
imagesize
importlib-metadata
intervaltree
ipykernel
ipython
ipython-genutils
isort
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
keyring
kiwisolver 
lazy-object-proxy 
MarkupSafe
matplotlib
matplotlib-inline
mccabe==0.6.1
mistune
munkres==1.1.4
mypy-extensions==0.4.3
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numexpr
numpy
numpydoc
olefile
packaging
pandas
pandocfilters
paramiko
parso==0.7.0
pathspec==0.7.0
pexpect
pickle-mixin==1.0.2
pickleshare
Pillow
pluggy
prometheus-client
prompt-toolkit 
psutil
ptyprocess
pycodestyle
pycparser 
pydocstyle
pyflakes
Pygments
pylint
pyls-black
pyls-spyder
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
python-jsonrpc-server
python-language-server
pytz
pywin32
pywin32-ctypes
pywinpty
PyYAML==5.4.1
pyzmq
QDarkStyle==2.8.1
QtAwesome 
qtconsole
QtPy
regex 
requests
rope
Rtree 
scikit-learn 
scipy 
seaborn
Send2Trash 
sip==4.19.13
six 
snowballstemmer 
sortedcontainers 
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml
spyder
spyder-kernels
terminado==0.9.4
testpath 
textdistance 
threadpoolctl 
three-merge
toml 
tornado 
traitlets 
typed-ast
typing-extensions
ujson
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug
win-inet-pton 
wincertstore==0.2
wrapt
yapf 
zipp 
